trigger: none
pr: none
stages:
- stage: deploytodo
  displayName: deploy todo on vm
  jobs:
  - deployment: deploy_on_vm
    displayName: deploy on vm
    environment:
        name: linux_vm
        # resourceName: 
        # resourceId: string # Id of resource.
        resourceType: virtualMachine
        
    strategy: 
      runOnce:
        deploy:
          steps:
         
          - task: DownloadPipelineArtifact@2
            inputs:
              buildType: 'specific'
              project: 'c1b81bd5-857d-4ba7-994f-2e367ce08b8a'
              definition: '18'
              buildVersionToDownload: 'specific'
              pipelineId: '176'
              artifactName: 'todo-ui'
              targetPath: '$(System.DefaultWorkingDierectory)/Build'
         
          